-
    let recommendedInfo = [
        {
            "title" : "Надежная компания ",
            "text": "— работаем на одном месте в собственном салоне более 15 лет"
        },
        {
            "title" : "Индивидуальная помощь ",
            "text": "заказчикам в подборе кухонного оборудования и техники: подберем на выгодных условиях среди наших партнеров и порекомендуем варианты на маркетплейсах"
        },
        {
            "title" : "Сборка и установка за 1 день ",
            "text": "штатными сборщиками, аккуратно и быстро, сразу убираем всю упаковку и наводим чистоту своим профессиональным пылесосом"
        },
        {
            "title" : "Любой нестандарт без переплаты: ",
            "text": " учтем любые нервности и выступы, делаем выпилы любой сложности"
        }
    ];

section.recommended
    .recommended__bg
        picture
            source(srcset=require(`../../img/promo/recommended/bg.avif`) type="image/avif")
            source(srcset=require(`../../img/promo/recommended/bg.webp`) type="image/webp")
            img(src=require(`../../img/promo/recommended/bg.jpg`) alt="Кухня кухмастер Саратов") 
    .container
        .title
            h2.title__section
                span.color__red 90 % 
                |клиентов
                span.title__section-slogan приходят по рекомендации
        
        .recommended__cards
            .recommended__card
                .wrapper
                    .recommended__card-title Гарантия на фурнитуру
                    .recommended__card-text 
                        p эконом-класса — 
                            strong 5 лет
                            |,
                        p комфорт класса — 
                            strong 5 лет
                            |.
                        p При выявлении недостатка, устраняем его за счет компании в течение всего гарантийного срока
            .recommended__card
                .wrapper
                    .recommended__card-title Помощь клиентам в ремонте кухни:
                    .recommended__card-text предоставляем схемы размещения розеток и коммуникаций, делаем контрольные замеры в течение ремонта по просьбе заказчиком



            each item in recommendedInfo
                .recommended__card
                    .wrapper
                        .recommended__card-title.inline !{item.title}
                        .recommended__card-text.inline !{item.text}

        

            