-
    const social = [
        {
            'href': 'viber://chat?number=%2B79873760788',
            'name': 'Viber',
            'class': 'viber'
        },
        {
            'href': 'https://wa.me/+79873760788',
            'name': 'Whatsapp',
            'class': 'whatsapp'
        },
        {
            'href': 'https://vk.com/kuhmaste_r',
            'name': 'ВКонтакте',
            'class': 'vk'
        },
        {
            'href': '#',
            'name': 'Телеграм',
            'class': 'telegram'
        },
        {
            'href': 'https://ok.ru/group/57317203247128',
            'name': 'Одноклассники',
            'class': 'ok'
        },
    ];
    let reviewsFront = [
        {
            'date': '10.10.2021',
            'src':'./img/reviews/woman.svg',
            'media': './img/reviews/photo.png',
            'alt': 'review',
            'logo': './img/reviews/play.png',
            'title': 'Виктория Баринова',
            'subtitle': 'Быстро, качественно, красиво! Очень довольна', 
            'text': 'Огромная благодарность директору, ребятам кто устанавливал кухню, всё выполнено качественно, быстро, аккуратно. Люди, слушайте Советы директора компании и ставьте сразу ручки, а не путём нажатия открытие шкафов, кухни только в Кухмастере зазывайте! Будете довольны!'
        },
        {
            'date': '10.10.2021',
            'src':'./img/reviews/man.svg',
            'media': './img/reviews/photo.png',
            'logo': './img/reviews/play.png',
            'alt': 'review',
            'title': 'Виктор Баринов',
            'subtitle': 'Быстро, качественно, красиво! Очень довольна', 
            'text': 'Огромная благодарность директору, ребятам кто устанавливал кухню, всё выполнено качественно, быстро, аккуратно. Люди, слушайте Советы директора компании и ставьте сразу ручки, а не путём нажатия открытие шкафов, кухни только в Кухмастере зазывайте! Будете довольны!'
        },
        {
            'date': '10.10.2021',
            'src':'./img/reviews/man.svg',
            'media': './img/reviews/photo.png',
            'logo': './img/reviews/play.png',
            'alt': 'review',
            'title': 'Виктор Баринов',
            'subtitle': 'Быстро, качественно, красиво! Очень довольна', 
            'text': 'Огромная благодарность директору, ребятам кто устанавливал кухню, всё выполнено качественно, быстро, аккуратно. Люди, слушайте Советы директора компании и ставьте сразу ручки, а не путём нажатия открытие шкафов, кухни только в Кухмастере зазывайте! Будете довольны!'
        },
        {
            'date': '10.10.2021',
            'src':'./img/reviews/man.svg',
            'media': './img/reviews/photo.png',
            'logo': './img/reviews/play.png',
            'alt': 'review',
            'title': 'Виктор Баринов',
            'subtitle': 'Быстро, качественно, красиво! Очень довольна', 
            'text': 'Огромная благодарность директору, ребятам кто устанавливал кухню, всё выполнено качественно, быстро, аккуратно. Люди, слушайте Советы директора компании и ставьте сразу ручки, а не путём нажатия открытие шкафов, кухни только в Кухмастере зазывайте! Будете довольны!'
        },
        {
            'date': '10.10.2021',
            'src':'./img/reviews/man.svg',
            'media': './img/reviews/photo.png',
            'logo': './img/reviews/play.png',
            'alt': 'review',
            'title': 'Виктор Баринов',
            'subtitle': 'Быстро, качественно, красиво! Очень довольна', 
            'text': 'Огромная благодарность директору, ребятам кто устанавливал кухню, всё выполнено качественно, быстро, аккуратно. Люди, слушайте Советы директора компании и ставьте сразу ручки, а не путём нажатия открытие шкафов, кухни только в Кухмастере зазывайте! Будете довольны!'
        },
    ];

.reviews
    .container
        .title.title-center
            h2.title__section.title__section_subtitle Отзывы наших довольных клиентов
                div.cases__desc Реальные отзывы с видео ответами
        .reviews__wrap
            each item in reviewsFront
                .reviews__col
                    .reviews__media 
                        picture 
                            img(src=item.media alt=item.alt)
                        .reviews__logo 
                            picture 
                                img(src=item.logo alt=item.alt)
                    .reviews__container
                        .reviews__avatar
                            picture
                                img(src=item.src alt=item.alt)
                        .reviews__header 
                            .reviews__info
                                .reviews__title !{item.title}
                                .reviews__date Дата установки: !{item.date}
                            .reviews__icon 
                                ul.social
                                    each soc in social
                                        li.social__item
                                            a(href=soc.href class="social__link " + soc.class target="_blank" rel="noopener")
                                                span(class="social__tooltip") !{soc.name}
                                                if modificator
                                                    span(class="social__ico " + modificator)
                                                        +main-svg('', './img/svg/sprite.svg#' + soc.class)
                                                else
                                                    span.social__ico
                                                        +main-svg('', './img/svg/sprite.svg#' + soc.class)
                        .reviews__subtitle !{item.subtitle}
                        .reviews__text !{item.text}
        button.button__crooked#button-reviews Еще отзывы


