-
    let reviewsFront = [
        {
            'date': '10.10.2021',
            'src':'./img/reviews/reviews-photo.svg',
            'alt': 'review',
            'title': 'Автор???',
            'text': 'В 2018 году мы купили квартиру от застройщика и 2 года ждали, когда её сдадут в эксплуатацию. Всё это время я придумывала дизайн нашего жилья. Конечно же, любой квартиры это кухня. Поэтому планировала я её очень тщательно.'
        },
        {
            'date': '10.10.2021',
            'src': './img/reviews/reviews-photo.svg',
            'alt': 'review',
            'title': 'Алена',
            'text': 'Заказывали кухню в Кухмастере. Людмила Геннадьевна нам все подсказала, рассчитала, несколько раз приезжал дизайнер. кухня оч.маленькая, поэтому всем коллективом искали нам подходящий проект. Доставку осуществили точно в установленное время, парни все занесли, поставили. Работали аккуратно, собрали все без замечаний. Спасибо вам! Будем пользоваться вашей кухней и с благодарностью вспоминать вас.'
        },
        {
            'date': '10.10.2021',
            'src': './img/reviews/reviews-photo.svg',
            'alt': 'review',
            'title': 'Автор??? 2',
            'text': 'Как как у нас квартира-студия, проект требовался нестандартный: функциональный, не громоздкий и с наличием барной стойки.'
        },
        {
            'date': '10.10.2021',
            'src': './img/reviews/reviews-photo.svg',
            'alt': 'review',
            'title': 'Татьяна',
            'text': 'Искала долго кухню по бюджету, решилась вызвать замерщика и заказала. Замерщика быстро и чётко все замерил и расписал. Доставили в срок. Собрали очень хорошо, при том что ровных стен не было(дом старый), собирали 2 дня, смотрится супер. Есть некоторые мелочи, но цена и качество на уровне. Все очень довольны.'
        },
        {
            'date': '10.10.2021',
            'src': './img/reviews/reviews-photo.svg',
            'alt': 'review',
            'title': 'Захватова Лидия',
            'text': 'Добрый день ! Даже не могла представить, что мне так понравится моя новая кухня. Спасибо огромное дизайнеру Анечке, очень внимательному человеку. Также спасибо ребятам сборщикам, делают как для себя, придраться не к чему, никаких перекуров, все очень профессионально и четко. Понравилось всё до мелочей. Спасибо "Кухмастер"'
        },
    ];

.reviews
    .container
        .title
            h2.title__section Отзывы о нас
        .reviews__slider.swiper
            .swiper-wrapper
                each item in reviewsFront
                    .reviews__slide.swiper-slide
                        .reviews__date !{item.date}
                        .reviews__avatar
                            picture
                                img(src=item.src alt=item.alt)
                        .reviews__title !{item.title}
                        .reviews__text !{item.text}
            .swiper-button-prev.reviews__arrow-prev.slider__arrow-prev
            .swiper-button-next.reviews__arrow-next.slider__arrow-next
        .swiper-pagination.reviews__pagination
        a(href="#" class="button__crooked") Смотреть все отзывы


