block vars

footer.footer
    .container
        .footer__item.footer__logo-menu.is-desktop
            a( href="#" class="footer__site menu-link")
                span.logo.footer__site-logo
                    img(src=require('./logo2.svg'), alt="логотип Кухмастер")
                span.footer__site-name #{name_site}
            .menu__wrapper
                ul.menu__list
                    each link in main_menu
                        li.menu__item
                            if link.active
                                span(class="menu__link menu__link_white " + link.active ) !{link.name}
                            else
                                a(href=link.href class="menu__link menu__link_white") !{link.name}
        .footer__item.footer__map-contacts
            .footer__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af3cdfffe07672a1fc653d9673437d560df7cabbad607145bd910bc2b3a84ff99&amp;source=constructor" width="900" height="350" frameborder="0")
            .footer__contacts
                .footer__contacts-item
                    .field
                        .field__label Наш адрес:
                        .field__items
                            .field__item г. Саратов, ул. Астраханская 57/73




        .footer__item.footer__privacy-policy
            a(href="#") Политика конфиденциальности
        .footer__item.footer__copyright © Кухмастер 2013 - 2023

